/* styles.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#scoreContainer {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

#score {
    font-size: 18px;
    text-align: center;
}

#gameContainer {
    margin-top: 10px; /* Adjust the margin as needed */
}

canvas {
    border: 1px solid #000;
}